<div class="container">

  <h2>Definitions</h2>

  <p>
    <strong>Attendances:</strong><br> The number of patients recorded as arriving at a public emergency department.
    <br>
    <br>
    <strong>Admissions:</strong><br> The number of patients who are subsequently admitted to the hospital for care and/or
    treatment.
    <br>
    <br>
    <strong>Triage:</strong> Categories allocated to each patient based on an assessment of their presenting conditions.
    <br>
    <br>
    <strong>Standard deviation:</strong><br> A quantity expressing by how much the members of a group differ from the mean
    value for the group.
    <br>
    <br>
    <img src="../../assets/sunny.png" width="60" height="60" alt="">
    <strong>"Fair":</strong><br> When the probability is MORE THAN 50% that the number of attendances will exceed 0.5 standard deviations BELOW the mean (same as when the "chance of coffee" (see below) is above a threshold of 0.5).
    <br>
    <br>
    <img src="../../assets/partlycloudy.png" width="60" height="60" alt="">
    <strong>"Average":</strong><br> When the probability is LESS THAN 50% that the number of attendances will exceed 0.5 standard deviations above the mean AND When the probability is less than 50% that the number of attendances is less than 0.5 standard deviations below the mean average.
    <br>
    <br>
    <img src="../../assets/thunderstorm.png" width="60" height="60" alt="">
    <strong>"Busy":</strong><br> When the probability is MORE THAN 50% that the number of attendances will exceed 0.5 standard deviations ABOVE the mean (same as when the "chance of chaos" (see below) is above a threshold of 0.5).
    <br>
    <br>
    <strong>Chance of admissions:</strong><br> On average, to proportion of attendances that convert to inpatient stays.
    <br>
    <br>
    <img src="../../assets/coffee.png" width="30" height="30" alt="">
    <strong>"Chance of coffee":</strong><br> The probability that the average attendances will be less than 0.5 standard deviations.
    <br>
    <br>
    <img src="../../assets/busy.png" width="30" height="30" alt="">
    <strong>"Chance of chaos":</strong><br> The probability that the average attendances will be more than 0.5 standard deviations.
    <br>
    <br>
    
    <strong>Triage Category 1:</strong><br> Resuscitation- immediate, within seconds
    <br>
    <br>
    <strong>Triage Category 2:</strong><br> Emergency- within 10 minutes.
    <br>
    <br>
    <strong>Triage Category 3:</strong><br> Urgent- within 30 minutes.
    <br>
    <br>
    <strong>Triage Category 4:</strong><br> Semi-urgent- within 60 minutes.
    <br>
    <br>
    <strong>Triage Category 5:</strong><br> Non-urgent - within 120 minutes).

  </p>
</div>