<div class="container">
  <h2>
    Model <strong>Performance</strong>
  </h2>

  <p>
    <strong>Performance profile for </strong>
    <br>0.5 Standard deviations above the average number of attendances.
    <br>(AKA "% Chance of chaos")
  </p>
  <img src="../../assets/sd_above_performance.png" width="600">

  <hr>

  <p>
    <strong>Performance profile for </strong>
    <br>0.5 Standard deviations below the average number of attendances.
    <br>(AKA "% Chance of coffee break")
  </p>
  <img src="../../assets/sd_below_performance.png" width="600">


</div>