<body>
  <ngb-carousel style="padding-top:5px">
    <ng-template ngbSlide>
      <div class="container" style="height:800px; width:100%; background-color:#dfdfdf">
        <h4 style="background-color:lightgrey">Sir Charles Gairdner Hospital</h4>

        <div class="row" style="width:300px;margin-right:auto; margin-left:auto">
          <h4>Today:</h4>
        </div>
        <div class="row" style="width:300px; margin-right:auto; margin-left:auto">
          <div style="width:140px; ">
            <img src="../../assets/thunderstorm.png" width="120" height="120" />
          </div>
          <div style="width:160px; margin-top:auto; margin-bottom:auto;">
            <h1>Busy</h1>
            <p>with a <br> 41% chance of<br>inpatient admissions</p>
          </div>
        </div>

        <div class="row" style="width:300px;margin-right:auto; margin-left:auto">
          <div>
            Chance of coffee break:
          </div>
          <div>
            Probability of above average load:
          </div>
        </div>

        <hr>

         <div class="row" style="padding-top:0px; width:300px;margin-right:auto; margin-left:auto">
          <h4>Tomorrow:</h4>
        </div>
        <div class="row" style="width:300px; margin-right:auto; margin-left:auto">
          <div style="width:140px; ">
            <img src="../../assets/sunny.png" width="120" height="120" />
          </div>
          <div style="width:160px; margin-top:auto; margin-bottom:auto;">
            <h1>Fair</h1>
            <p>with a <br> 41% chance of<br>inpatient admissions</p>
          </div>
        </div>

        <div class="row" style="width:300px;margin-right:auto; margin-left:auto">
          <div>
            Chance of coffee break:
          </div>
          <div>
            Probability of above average load:
          </div>
        </div>

        <hr>
         <div class="row" style="width:300px;margin-right:auto; margin-left:auto">
           <h4>Sir Charles Gairdner Hospital Statistics</h4>
          <div>
            <small>Avg. attendances: 216 (StdDev. 14)</small>
          </div>
          <div>
            <small>Avg. admissions: 90 (StdDev. 8)</small>
          </div>
          <div>
            <small>Avg. admissions: 90 (StdDev. 8)</small>
          </div>
          <div>
            <small>Avg. admissions: 90 (StdDev. 8)</small>
          </div>
          <div>
            <small>Avg. admissions: 90 (StdDev. 8)</small>
          </div>
        </div>

      </div>

      
      
    </ng-template>


    <!--ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template-->
  </ngb-carousel>


</body>