<body>

  <ngb-carousel style="padding-top:5px">
    <ng-template ngbSlide *ngFor="let h of hospital_utilisation_predictions">
    <div class="container" style="height:900px; width:100%; background-color:#dfdfdf">
      <app-forecast-carousel-item [hospital_utilisation]="h"></app-forecast-carousel-item>
    </div>
    </ng-template>

    <!--ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template-->
  </ngb-carousel>


</body>