<nav class="navbar fixed-top bg-faded">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/forecast" href="#">
       <img src="../../assets/oncallogist.png" width="30" height="30" alt="">
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/forecast" href="#">Forecast <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/definitions" href="#">Definitions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/model-performance" href="#">Model Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Contribute data</a>
        </li>
      </ul>
    </div>

  </nav>