<div class="container">

  

  <div class="row">
    <div class="col-md-6">
      <h2>About <strong>Us</strong></h2>
      <pre>
  {{aboutUs|json}}
</pre>
    </div>

    <div class="col-md-6">
      <h2><strong>Technologies</strong> Used</h2>

      <p>
        <strong>IDE</strong><br> Microsoft VS Code
        <br><br>
        <strong>
Presentation:
</strong><br> Angular4
        <br> Bootstrap4
        <br>
        <br><br>
        <strong>
Infrastructure:
</strong> AWS EC2, RDS, S3<br> NodeJS
        <br> MySQL
        <br>

        <br><br>
        <strong>
Artificial Neural Networks:
</strong><br> Microsoft Azure ML Studio<br> Single hidden layer, 8 node, hyperparameter-tuned, K-fold cross-validated<br>
        <br><br>
        <strong>
Organic neural networks:
</strong><br> Mai Nishitani<br> Bryant Wong<br> Justin Wong<br>

      </p>
    </div>
  </div>
</div>